*{
    margin: 0;
    padding: 0%;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.color1{
background-color:#D61C4E;
}
.color2
{
background-color:#F77E21 ;
}
.color3{
background-color: #FAC213;
}
.color4{
    background-color: #FEF9A7;

}
.header-superior{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
     
}

.isologo{
    display: flex;
    align-items: center;
}
.isologo-nombre{
    order: 2;
    margin: 0.5vh;
    font-weight:bold; 
    font-size:xx-large ;
}
.isologo-image{
    order: 1;
    align-self: flex-start;
    height: 80%;
    margin-top: 4.5%;
    margin-left: 4%;

}

.busqueda{
    display: flex;
    align-items: center;
}


.buscador{
    width: 20vw; 
    height: 2.5vh;
    border-radius: 4px;
    margin: 1vh;

}

.mi-cuenta{
    display: flex;
    align-items: center;
    font-size: large;
    
}

.mi-cuenta-cart{
    width: 4.2vh;
    padding: 30px;
}
/* NAV */
.header-inferior{
    display: flex;
    justify-content: space-around; /*lo puedo usar para las queries del cel */
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: black;
} 

/*formulario */

.section-contacto{
background-color: #FEF9A7;

}
.titulo-contacto{
padding:2%;

}
.formulario{
/* border: #FAC213 2px; */
margin:0 2% 2% 2%;
font-size: x-large;
}
input[type="text"]{
width: 50vw;
height: 2.5vh;
}
textarea{
    width: 50vw;
    height: 15vh;
}
/*footer  */
.icono-footer{
    width: 15%;
}
.flex-footer{
    display: flex;
    justify-content: space-around;

}
.texto-footer{
font-size: large;
}

/* Media queries */
@media only screen and (max-width: 768px)  {
    /* Header */
      .buscador{
          width: 85vw; 
          height: 2.5vh;
          border-radius: 4px;
          margin: 1vh;
      
      }
      .nav-border{
          border-bottom: #F77E21 solid;
      }
      .mi-cuenta{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: large;
          width: 80vw;
          margin: 4%;
      }

      /*formulario */

      input[type="text"]{
        width: 85vw;
        height: 2vh;
        }
        textarea{
            width: 85vw;
            height: 15vh;
        }

  
      /*footer */
      .footer-flex{
          border-left: #FAC213 solid 4px;
     }
  }
  @media only screen and (max-width: 577px) {
      .header-superior{
          flex-direction: column;
      }
      .header-inferior{
          /* display: flex;
          justify-content: space-around; lo puedo usar para las queries del cel */
          flex-direction: column;
          align-items: center;
          font-size: x-large;
          font-weight: bold;
          padding: 10px;
          background-color: #FAC213;
          border: solid black 1px;
      }
  
      /*footer */
      .footer-flex{
          border-left: none;
           border-bottom: #FAC213 solid 4px;
      }
  .flex-footer{
  flex-direction: column;
  align-items: center;
  }
  
  .icono-footer{
      width: 15%;
      margin: 10px;
  }
  
  .texto-footer{
  font-size: large;
  /* text-align: center; */
  }
  }
  