*{
    margin: 0;
    padding: 0%;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.color1{
background-color:#D61C4E;
}
.color2{
background-color:#F77E21 ;
}
.color3{
background-color: #FAC213;
}
.color4{
    background-color: #FEF9A7;
}

.header-superior{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.isologo{
    display: flex;
    align-items: center;
}
.isologo-nombre{
    order: 2;
    margin: 0.5vh;
    font-weight:bold; 
    font-size:xx-large ;
}
.isologo-image{
    order: 1;
    align-self: flex-start;
    height: 80%;
    margin-top: 4.5%;
    margin-left: 4%;

}

.busqueda{
    display: flex;
    align-items: center;
}


.buscador{
    width: 20vw; 
    height: 2.5vh;
    border-radius: 4px;
    margin: 1vh;
}


.mi-cuenta{
    display: flex;
    align-items: center;
    font-size: large;
    
}

.mi-cuenta-cart{
    width: 4.2vh;
    padding: 30px;
}
/* NAV */
.header-inferior{
    display: flex;
    justify-content: space-around; /*lo puedo usar para las queries del cel */
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color:black;
} 

.section-slider{
    width: 110vw;
    height: 25vh;
    background-image: url(/images/slide1.png);
    background-position: center;

    display: flex;
}
.slider-texto{
    color: white;
    align-self: flex-end;
    padding: 2%;
    font-size: large;

}

/* GRID DEL AREA MAIN */
.grid-main{
height: 100%;
display: grid;
grid-template-columns: 50vw repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
align-items: center;
align-content: center;
}

.main1{
    /* width: 100vw; */
    /* grid-area: main1; */
    grid-column:1/2;
    grid-row: 1/3;
    color: white;
    background-color: #D61C4E;
    /* align-self: center; */
    padding: 4%;

   

}
.destacada{
    width: 70%;
}

.main2{
    grid-column:2/3;
    grid-row: 1/2;
    /* padding: 1%; */
    align-self: center;
    border: #FEF9A7 solid 2px;
}
.main2-foto{
    width: 70%;
    
}
.main3{
    grid-column: 3/4;
    grid-row: 1/2;
    border: #FEF9A7 solid 2px;
    align-self: center;


    
}
.main4{
    grid-column:2/3;
    grid-row: 2/3;
    border: #FEF9A7 solid 2px;
    align-self: flex-start;


}
.main5{

    grid-column:3/4;
    grid-row: 2/3;
    border: #FEF9A7 solid 2px;
    align-self: flex-start;

}
/* .foto-main{
    width: 1%;
} */
.aside-h2{
    display: inline;
}
.aside-newsletter{
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content:center ;
    
}

.newsletter-parrafo{
margin: 1%;
}

/*Footer */


.icono-footer{
    width: 15%;
}
.flex-footer{
    display: flex;
    justify-content: space-around;
}
.texto-footer{
font-size: large;
}

/* Media queries */
@media only screen and (max-width: 768px)  {
  /* Header */
    .buscador{
        width: 85vw; 
        height: 2.5vh;
        border-radius: 4px;
        margin: 1vh;
    
    }
    .nav-border{
        border-bottom: #F77E21 solid;
    }
    
    .mi-cuenta{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        width: 80vw;
        margin: 4%;
    }

/* Slider */
    .slider-texto{
        font-size: large;
    }
    /*contenedor princial */ 

    .grid-main{
        height: 100%;
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        align-content: center;
        
        }
        .main1{
            /* width: 100%; */
            /* grid-area: main1; */
            grid-column:1/3;
            /* grid-row: 1/3; */
            background-color: #D61C4E;
            color: white;
            align-self: center;
            padding: 4%;
        }

        .main2{
            grid-column:1/2;
            grid-row: auto;
            align-self: center;
            border: #FEF9A7 solid 2px;
            padding: 4%;

        }
        .main3{
            grid-column: 2/3;
            grid-row: auto;
            border: #FEF9A7 solid 2px;
            align-self: center;
            padding: 4%;

        
            
        }
        .main4{
            grid-column:1/2;
            grid-row: auto;
            border: #FEF9A7 solid 2px;
            align-self: flex-start;
            padding: 4%;

        
        }
        .main5{
        
            grid-column:2/3;
            grid-row: auto;
            border: #FEF9A7 solid 2px;
            align-self: flex-start;
            padding: 4%;

        }
    /* aside  */

  
    .aside-newsletter{
        padding: 1.5%;
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        justify-content:center ;
        
    }
    
    .newsletter-parrafo{
    margin: 1%;
    }
    .caja-email{
        width: 60vw; 
        height: 1.5vh;
        border-radius: 4px;
        margin: 1vh;
        }


    
    /*footer */
    .footer-flex{
        border-left: #FAC213 solid 4px;
        padding: 4%;

   }
}
@media only screen and (max-width: 577px) {
   
    .header-superior{
        flex-direction: column;
    }
    .header-inferior{
        /* display: flex;
        justify-content: space-around; lo puedo usar para las queries del cel */
        flex-direction: column;
        align-items: center;
        font-size: x-large;
        font-weight: bold;
        padding: 10px;
        background-color: #FAC213;
        border: solid black 1px;
    }

/*Header */

.grid-main{
    height: 100%;
    display: grid none;
    display: flex;
    grid-template-columns:none;
    grid-template-rows: none;
    align-content: center none;
    flex-direction: column;    
    align-items: center;
    padding: 4%;

    }


    .main1{
        width: 90vw;
        grid-column:none;
        background-color: #FAC213;        
        align-self: center;
        color: black;

    }

    .main2{
        grid-column:none;
        grid-row: none/3;
        /* padding: 1%; */
        align-self: center;
        border: none;
        border: top solid #FEF9A7 ;
    }
    .main3{
        grid-column: none;
        grid-row: none/4;
        align-self: center;
        border: none;

    
        
    }
    .main4{
        grid-column:none;
        border: none;

        grid-row: none;
        align-self: flex-start;
    
    
    }
    .main5{
    
        grid-column:none;
        grid-row: none;
        align-self: flex-start;
        border: none;

    }

    .newsletter-parrafo{
        margin: 2%;
        }
    /*footer */
    .footer-flex{
        border-left: none;
         border-bottom: #FAC213 solid 4px;
    }
.flex-footer{
flex-direction: column;
align-items: center;
}

.icono-footer{
    width: 15%;
    margin: 10px;
}

.texto-footer{
font-size: large;
/* text-align: center; */
}
}
