*{
    margin: 0;
    padding: 0%;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.color1{
background-color:#D61C4E;
}
.color2
{
background-color:#F77E21 ;
}
.color3{
background-color: #FAC213;
}
.color4{
    background-color: #FEF9A7;

}
.header-superior{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
     
}

.isologo{
    display: flex;
    align-items: center;
}
.isologo-nombre{
    order: 2;
    margin: 0.5vh;
    font-weight:bold; 
    font-size:xx-large ;
}
.isologo-image{
    order: 1;
    align-self: flex-start;
    height: 80%;
    margin-top: 4.5%;
    margin-left: 4%;

}

.busqueda{
    display: flex;
    align-items: center;
}


.buscador{
    width: 20vw; 
    height: 2.5vh;
    border-radius: 4px;
    margin: 1vh;

}

.mi-cuenta{
    display: flex;
    align-items: center;
    font-size: large;
    
}

.mi-cuenta-cart{
    width: 4.2vh;
    padding: 30px;
}
/* NAV */
.header-inferior{
    display: flex;
    justify-content: space-around; /*lo puedo usar para las queries del cel */
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: black;
} 


/*Catalogo de productos */
h1{
    text-align: center;
    margin: 1%;
}
.grid-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5%;
    margin: .5%;
    background-color: white;
   justify-items: center;
}
.card-productos{
border: solid black 1px;
border-radius: 7px;
padding: 3%;
background-color: #FEF9A7
;
}

.container-imagen{
    display: flex;
    justify-content: center;
}

.card-productos h2{
    color: #D61C4E;
    text-align: center;

}
.container-button{
    display: flex;
    justify-content: center;
}
.button-style{
    width: 50%;
    color:white;
    background-color: #D61C4E;
    border-radius:5px;
    font-size: 105%; 
    margin: 3%;
   }

/*footer */
.icono-footer{
    width: 15%;
}
.flex-footer{
    display: flex;
    justify-content: space-around;

}
.texto-footer{
font-size: large;
}

